/* 
arquivo de CSS(Cascade Style Sheet - Folha De Estilo em Cascata
é utilizado para fazer a camada de formação de um 
site html. 
*/
/*
Vamos formatar todos os elementos presente em uam página
html usando o *(asteristico) e aplicar margem externa e interna
zero(0) e realizar o ajuste das caixas em html 
 */

* {
  margin: 0px; /*Margem externa das caixas */
  padding: 0px; /*margem inerna das caixas */
  /*Ajuste de padding das caixas sem a soma com a
  largura */
  box-sizing: border-box;
}

header {
  /*Aplicar altura ao cabeçaljo*/
  height: 300px; 
  /*Aplicar imagem de fundo ao cabeçalho*/
  background-image: url("../img/cafeteria2.jpg");
  /*Ajustar o tamanho da imagem de fundo*/
  background size: 150%;
  /*alterar a posição vertical da imagem*/
  background-position-y: -400px;
  padding-top: 200px;
  text-align: center;
}

h1{
   font-family: Verdana;
   font-size: 50pt;
   color: black;
   /*Vamos aplicar uam sombra*/
   /*Primeiro elemento é a posição horizontal da sombra;
   /*Segundo elemento é posicão vertical sa sombra;
   /*Terceiro elemento é efeito esfumaçado da sombra;
   /*Quarto elemnteo é a cor. */
   text-shadow: 5xp 5xp 10xp black;
}


/*Vamos fazer a formatação da barra de navegação*/
nav{
    background-color: rgb(170, 238, 44);
    padding: 10px;
    text-align: center;
}
  
nav ul li{
    /*dispor os elementos em linha*/
    display: inline-block;
    /*espaço entre os links*/
    margin: 5px;
}
nav ul li a {
  color: white;
  font-family: arial;
  /*tirar o sublinhado*/
  text-decoration: none;
}

main {
  padding 20px;
}
footer {
  background-color: tomato;
  /*Permitir com que o rodapé fique com seu
  conteúdo flexível*/
  display: flex;
  /*Dispor o conteúdo em linha*/
  flex-direction: row;
  /*Ajustar o conteúdo ao centro com Justify-content e ALign-Itens */
  justify-content: center;
  align-items: center ;
  height: 200px;
}
footer div{
  border: 1px solid black;
  margin: 10px;
}

#endereco{
  font-family: arial;
  font-size: 12pt;
  color: greenyellow;
  width: 300px;
  text-align: center;
}
#redes{
  position: absolute;
  right: 50px;
}
#redes ul{
  /* Retirar as bolinahs de marcação*/
  list-style: none;
}

/*vamos dispor a imagens das redes
em linha com display inline-bloack*/
#redes ul li{
  display: inline-block;
  margin: 20px;
}
#redes ul li a img {
  width: 40px;
  height: 40px;
}
/*======= Inicio da fomratação cdd para o home ========= */
h2 {
  font-family: "Lucida Sans";
  font-size: 20pt;
  border-bottom: 1px dashed darkred;
  margin: 50px;
}
main p{
  margin: 10px;
  width: 80%;
  /*Par alinhar um objeto ao centro você pode usar margin-left 
  e margin-right auto pra os dois */
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-family: "Lucida Sans";
  font-size: 12pt;
  /*Espaçamento entre linhas com o comando Line-height */
  line-height: 30px;
}

#imghome{
  text-align: center;
}

#imghome img{
  width: 200px; /*largura da imagem*/
  height: 200px; /*altura da imagem*/
  /*Arredondar os cantos das imagens */
  border-radius: 50px;
  /*Vamos deixar as imagens um pouco opcas*/
  opacity: 0.7; /*colocar a imagem em 70% e opacidade*/
  margin: 20px;
  /*Efeito de transição . Isso fará com que a imagem tenha
  uma animação quando passar o mouse sobre ela*/
  transition: ease 1s;
}

#imghome img:hover{
  opacity: 1;
  /*width: 300px;
  height: 300px; */
  transform: scale(1.2);
  transform: rotate(360deg); /*Girar a imagem em 360graus*/
}

/*==================== fim home ================== */